<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title> The Solar System </title>
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome to the Solar System Site!</h1>
        <p>Click on a planet to know more about it:</p>
        <a href="/mercury"> Mercury </a> <br>
        <a href="/venus"> Venus </a> <br>
        <a href="/earth"> Earth </a> <br>
        <a href="/mars"> Mars </a> <br>
        <a href="/jupiter"> Jupiter </a> <br>
        <a href="/saturn"> Saturn </a> <br>
        <a href="/neptune"> Neptune </a> <br>
        <a href="/uranus"> Uranus </a> <br>
        <a href="/pluto"> Pluto </a> <br>
    